<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Contato' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <h3 text-center>{{'Contato' | translate}}</h3>

  <p text-center>{{'Calc: Tarifas SumUP' | translate}} - {{'Versao' | translate}} 2.5.0</p>
  <p text-center>E-mail: calctarifas@gmail.com</p>
  
</ion-content>
