<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Ajuda' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 text-center>{{'Ajuda' | translate}}</h3>

<p text-justify>{{'A Calc: Tarifas SumUP contem um Menu principal, com as opcoes de Ajuda e Contato.' | translate}}</p>

<p text-justify>{{'Na opcao de Calc: Tarifas SumUP, tem-se as opções de maquina a ser utilizada, operacoes de taxas e reverso, valor, plano Acelerado ou Economico, metodo de pagamento e quantidade de parcelas.' | translate}} </p>

<p text-justify>{{'Ao clicar na opcao calcular ira aparecer os resultados das informacoes, com opcao de Print para salvar as informacoes, salvando automaticamente na galeria de imagens.' | translate}} </p>

<p text-justify>{{'A opcao ajuda, permite ajudar o usuario na utilizacao do app. A opcao Contato, permite entrar em contato com os desenvolvedores do app para possiveis duvidas ou sugestoes.' | translate}}</p>

<p text-justify>{{'OBS: Este aplicativo não tem vinculação alguma com a empresa SumUP, apenas disponibilizados o app de acordo com as tarifas oferecidas pela empresa.' | translate}}</p>

</ion-content>
