<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <button menuClose ion-item icon-left (click)="nav.setRoot(pages2.SumPage)">
            <ion-icon name="md-calculator"></ion-icon>
          {{'Calc Tarifas SumUP' | translate}}
        </button>
        <button menuClose ion-item icon-left (click)="nav.push(pages2.CadastroPage)">
          <ion-icon name="md-add-circle"></ion-icon>
          {{'Cadastrar Produto' | translate}}
      </button>
      <button menuClose ion-item icon-left (click)="nav.push(pages2.HomePage)">
        <ion-icon name="md-help-circle"></ion-icon>
        {{'Ajuda' | translate}}
      </button>
    
      <button menuClose ion-item icon-left (click)="nav.push(pages2.ListPage)">
        <ion-icon name="md-contact"></ion-icon>
        {{'Contato' | translate}}
      </button>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>