<!--
  Generated template for the ResultadoCartaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{tipoModo | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item-group>
    <ion-item-divider color="light" text-center><h2>{{textoTaxas | translate}}</h2></ion-item-divider>
    <ion-item>{{'Debito' | translate}} = {{valorDebito}}</ion-item>
    <ion-item>{{'Parcelado em' | translate}} 1x = {{valorParcela1}}</ion-item>
    <ion-item>{{'Parcelado em' | translate}} 2x = {{valorParcela2}}</ion-item>
    <ion-item>{{'Parcelado em' | translate}} 3x = {{valorParcela3}}</ion-item>
    <ion-item>{{'Parcelado em' | translate}} 4x = {{valorParcela4}}</ion-item>
    <ion-item>{{'Parcelado em' | translate}} 5x = {{valorParcela5}}</ion-item>
    <ion-item>{{'Parcelado em' | translate}} 6x = {{valorParcela6}}</ion-item>
    <ion-item>{{'Parcelado em' | translate}} 7x = {{valorParcela7}}</ion-item>
    <ion-item>{{'Parcelado em' | translate}} 8x = {{valorParcela8}}</ion-item>
    <ion-item>{{'Parcelado em' | translate}} 9x = {{valorParcela9}}</ion-item>
    <ion-item>{{'Parcelado em' | translate}} 10x = {{valorParcela10}}</ion-item>
    <ion-item>{{'Parcelado em' | translate}} 11x = {{valorParcela11}}</ion-item>
    <ion-item>{{'Parcelado em' | translate}} 12x = {{valorParcela12}}</ion-item>
  </ion-item-group>


</ion-content>
