<!--
  Generated template for the SumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>{{'Calc Tarifas SumUP' | translate}}</ion-title>
		
		
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-style">
<!--
		<ion-fab top right edge>
			<button ion-fab mini>
				<ion-icon name="md-more"></ion-icon>
			</button>
			<ion-fab-list>
				
			</ion-fab-list>
		</ion-fab>
	-->

<!--<ion-item>
  <ion-label>Employee</ion-label>
  <ion-select [(ngModel)]="objeto_pag" [compareWith]="compareFn">
    <ion-option *ngFor="let objeto of objeto_pag" [value]="{{objeto.tipoMaquina[0]}}">{{objeto.tipoMaquina[0]}}</ion-option>
  </ion-select>
</ion-item>-->

<ion-fab bottom top right edge #fab>
		<button ion-fab><ion-icon name="md-more"></ion-icon></button>
		<ion-fab-list>
			<button ion-fab color="danger" (click)="traducao('en', fab)">EN</button>
			<button ion-fab class="colorYellow" (click)="traducao('es', fab)">ES</button>
			<button ion-fab color="primary" (click)="traducao('fra', fab)">FRA</button>
			<button ion-fab color="secondary" (click)="traducao('pt', fab)">PT</button>
		</ion-fab-list>
	</ion-fab>

<!--
<ion-list>
	<ion-item>
		<ion-label>Language</ion-label>
		<ion-select [(ngModel)]="lang" (ionChange)="switchLanguage()">
			<ion-option value="en">EN ({{'Inglês' | translate}})</ion-option>
			<ion-option value="es">ES ({{'Espanhol' | translate}})</ion-option>
			<ion-option value="fra">FR ({{'Francês' | translate}})</ion-option>
			<ion-option value="pt">PT-BR ({{'Português' | translate}})</ion-option>
		</ion-select>
	</ion-item>
</ion-list>
-->

<!--<p>{{ 'APPLE' | translate }}</p>-->

 <ion-list>
	  <ion-item class="bg-bord">
	    <ion-label color="dark">{{'Operacao' | translate }}</ion-label>
	    <ion-select [(ngModel)]="calculoTaxas" interface="action-sheet" cancelText="{{ 'Cancelar' | translate}}" >
	      <ion-option value="Taxas" > {{ 'Taxas' | translate }}</ion-option>
	      <ion-option value="Reverso">{{ 'Reverso' | translate }}</ion-option>
	    </ion-select>
	  </ion-item>
	</ion-list>

<ion-list>
  <ion-item class="bg-bord">
	    <ion-label fixed color="dark">{{ 'Digite o Valor' | translate }}</ion-label>
	    <ion-input type="number" pattern="[0-9]*" [(ngModel)]="valorDig"></ion-input>
  </ion-item>
 </ion-list>

   <ion-list>
	  <ion-item class="bg-bord">
	    <ion-label color="dark">{{'Maquina' | translate }}</ion-label>
	    <ion-select [(ngModel)]="maquina" interface="action-sheet" cancelText="{{ 'Cancelar' | translate}}">
	      <ion-option value="SumUP">SumUP</ion-option>
	    </ion-select>
	  </ion-item>
</ion-list>

<ion-list>
	  <ion-item class="bg-bord">
	    <ion-label color="dark"> {{ 'Plano' | translate }}</ion-label>
	    <ion-select [(ngModel)]="plano" (ionChange)="onSelectChange($event)" interface="action-sheet" cancelText="{{ 'Cancelar' | translate}}">
	      <ion-option value="Acelerado">{{ 'Acelerado' | translate }}</ion-option>
	      <ion-option value="Economico">{{ 'Econômico' | translate }}</ion-option>
	    </ion-select>
	  </ion-item>
</ion-list>


<ion-list>
	  <ion-item class="bg-bord">
	    <ion-label color="dark">{{'Pagamento' | translate}}</ion-label>
	    <ion-select [(ngModel)]="recebimento" interface="action-sheet" (ionChange)="onRecebimento($event)" cancelText="{{ 'Cancelar' | translate}}">
	      <ion-option *ngFor="let objeto of objetos_pagamento" value="{{objeto.pagamento}}">{{objeto.pagamento | translate}}</ion-option>
	    </ion-select>
	  </ion-item>
</ion-list>

<ion-list >
	  <ion-item class="bg-bord">
	    <ion-label color="dark">{{ 'Parcelas de Pagamento' | translate }}</ion-label>
	    <ion-select [(ngModel)]="parcelas" interface="action-sheet" cancelText="{{ 'Cancelar' | translate}}">
	      <ion-option *ngFor="let objeto of objeto_pag" value="{{objeto.parcelas}}" >{{objeto.parcelas}}</ion-option>
	    </ion-select>
	  </ion-item>
</ion-list>


<button ion-button full (click)="openModal(valorDig)" round>{{ 'Calcular' | translate}}</button>


</ion-content>
