<!--
  Generated template for the EditarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar Produto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="updateData()">
    <ion-item>
      <ion-label>{{'Data Cadastro' | translate}}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="data.date" name="date" required=""></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{'Nome' | translate}}</ion-label>
      <ion-input type="text" placeholder="Nome" [(ngModel)]="data.nome" name="nome" required="" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'Valor' | translate}}</ion-label>
      <ion-input type="number" placeholder="Valor" [(ngModel)]="data.valor" name="valor" required="" ></ion-input>
    </ion-item>
    <ion-input type="hidden" [(ngModel)]="data.rowid" name="rowid"></ion-input>
    <button ion-button type="submit" block>{{'Salvar' | translate}}</button>
  </form>

</ion-content>
